build/
build-*/
.vscode/
dependencies.lock
.cache/
__pycache__/
*.pyc
compile_commands.json
components/
managed_components/

sdkconfig
sdkconfig.old
!sdkconfig.defaults

.project
.cproject
main/.cproject
main/.project
